*{
    padding: 0;
    margin: 0;
}
input:focus, button:focus{
    outline: none;
}
input, button{
    outline: none;
}
a:hover{
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
}
.icon i{
	font-size:45px;
	color:#5f5f5f;
}
.header-bg{
    width: 100%;
    height: 120vh;
    background: url(../webimg/background.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}
.opacity{
    background: rgba(0, 0, 0, 0.5607843137254902);
    width: 100%;
    height: 120vh;
    position: relative;
}
.logo-section h2{
    color: rgb(139, 243, 139);
}
.heading h2, .heading h4{
    color: #dddddd;
}
.heading h4{
    margin-bottom: 50px;
}
.sign-up-input{
    width: 500px;
    padding: 15px;
    background: #fff;
    border-radius: 4px;
}
.sign-up-input h5{
    color: #28a745;
    margin-bottom: 20px;
}

.sign-up-input input{
    width: 320px;
    height: 40px;
    padding: 10px;
    border: 1px solid #a7a7a7;
    border-radius: 2px;
}
.sign-up-input button{
    width: 140px;
    height: 40px;
    background: #28a745;
    color:#fff;
    border: 1px solid #28a745;
    cursor: pointer;
}
.down p{
    position: absolute;
    bottom: 20px;
    left: 50%;
    color: #28a745;
    font-weight: bold;
    transform: translate(-50px, 0px);
    cursor: pointer;
}
.intrudaction{
    margin-top: 100px;
    margin-bottom: 110px;
}
.intrudaction .left-section{
    width: 40%;
    position: relative;
    display: inline-block;
    margin-right: 50px;
}
.intrudaction .left-section .image{
    width: 88%;
    height: 500px;
    position: relative;
    z-index: 1000000;
}
.intrudaction .left-section .dotted-border{
    width: 88%;
    height: 510px;
    position: absolute;
    background: transparent;
    top: 50px;
    left: 70px;
    z-index: 1000;
    border: 3px  dashed rgb(196, 195, 195);
    border-radius: 1px;
}
.intrudaction .right-section{
    display: inline-block;
    width: 55%;
    box-sizing: border-box;
    padding-left: 85px;
}
.intrudaction .right-section .intrudaction-content{
    margin-bottom: 90px;
}
.intrudaction .right-section .no-mb{
    margin-bottom: 0;
}
.intrudaction .right-section .intrudaction-content .icon{
    width: 70px;
    height: 70px;
    display: inline-block;
    float: left;
    margin-right: 20px;
    position: relative;
    top: 15px;
    border-radius: 50%;
}
.intrudaction .right-section .intrudaction-content .icon-left-text{
    width: 80%;
    display: inline-block;
}
.about{
    margin-bottom: 110px;
}
.about p{
    line-height: 2;
}
.about .about-left{
    width: 40%;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
}
.about .about-right{
    width: 48%;
    display: inline-block;
    float: right;
}
.about-right-section{
    width: 100%;
    position: relative;
}
.about .about-right .image{
    width: 88%;
    height: 500px;
    position: relative;
    z-index: 1000000;
}
.about .about-right .dotted-border{
    width: 88%;
    height: 300px;
    position: absolute;
    background: transparent;
    bottom: -70px;
    right: 130px;
    z-index: 1000;
    border: 3px  dashed rgb(196, 195, 195);
    border-radius: 1px;
}

.testominial{
    padding: 110px;
    padding-bottom: 290px;
    background: #ddd;
    margin-top: 110px;
    margin-bottom: 110px;
}
.testominial .area-section .w-c{
    width: 47%;
}
.testominial .area-section .w-c-r{
    width: 37%;
    position: relative;
    top: 20px;
    display: inline-block;
}
.testominial .area-section .picture{
    width: 100%;
    display: inline-block;
}
.testominial .area-section .leftimg img{
    width: 80%;
}
.service h2{
    display: block;
    width: 215px;
    margin: auto;
    margin-bottom: 30px;
}
.service .w-c3{
    width: 33%;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    padding: 20px;
}
.service .w-c3 h3{
    text-decoration: underline;
    padding-bottom: 20px;
}
.service .w-c3 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: auto;
}
.footer .menu ul{
    list-style-type: none;
    width:100%; 
    text-align: center;
    display: block;
    margin: auto;
}
.footer .menu ul li{
    display: inline-block;
}
.footer .menu ul li a{
    display: block;
    padding: 10px 30px;
    color: #111111;
}







@media (max-width:1200px){
    .intrudaction .left-section, .intrudaction .right-section{
        width: 100%;
        margin-bottom: 90px;
    }
    .intrudaction .right-section{
        margin-bottom: 0;
    }
    .intrudaction .right-section .intrudaction-content .icon{
        top: 0;
    }
}

@media (max-width:1000px){
    .about .about-left{
        width: 100%;
    }
    .about .about-right{
        width: 100%;
    }
    .about .about-right .image{
        width: 100%;
    }
    .testominial{
        padding: 110px;
    }
    .down p{
        bottom: 20px;
    }
}

@media (max-width:968px){
    .testominial .area-section .w-c,.testominial .area-section .leftimg img, .testominial .area-section .w-c-r{
        width: 100%;
        display: block;
    }
    .testominial .area-section .w-c-r{
        margin-bottom: 50px;
    }
    .service .w-c3{
        width: 100%;
    }
}

@media (max-width:768px){
    .intrudaction .right-section{
        padding-left: 0;
    }
    .intrudaction .left-section{
        margin-right: 0;
    }
    .testominial{
        padding: 20px;
        padding-top: 110px;
    }
    
   .dotted-border{
        display: none;
    }
    .intrudaction .left-section .image{
        width: 100%;
    } .down p{
        bottom: 10px;
    }
}

@media (max-width:568px){
    .sign-up-input{
        width: 100%;
    }
    .sign-up-input input{
        width: 69%;
    }
    .sign-up-input button{
        width: 29%;
    }
}

@media (max-width:480px){
    .intrudaction .right-section .intrudaction-content .icon{
        display: block;
        margin: auto;
        float: none;
    }
    .intrudaction .right-section .intrudaction-content .icon-left-text{
        width: 100%;
        text-align: center;
    }
    .intrudaction .right-section .intrudaction-content{
        margin-bottom: 25px;
    }
    .intrudaction{
        margin-bottom: 0;
    }
    .sign-up-input button,.sign-up-input input{
        width: 100%;
        margin-bottom: 10px;
    }
}













